body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: url('../img/bg.jpg') no-repeat center center/cover;
    padding: 10px 20px;
    height: 80vh;
    color: #fff;
    position: relative;
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: -1;
}
/* NAVBAR SECTION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    display: none;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 2px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.59);
}
.serach-bar {
    padding: 9px;
    border: 2px solid #c3c3c3;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.59);
}
/* SIDENAV SECTION */
.show {
    transform: translateX(0px) !important;
}
#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 300px;
    height: 100%;
    background: #fff;
    padding: 20px;
    transform: translateX(-300px);
    transition: all 0.2s ease-in-out;
}
#sidenav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidenav li {
    margin-bottom: 9px;
}
#sidenav li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
#sidenav li a:hover {
    background-color: #c3c3c3;
}
#close {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    text-align: right;
    display: block;
    font-weight: bold;
}

/* SHOWCASE SECTION */
.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
img#logo {
    width: 300px;
    height: auto;
    margin: 2rem;
}
.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.page-text {
    font-size: 18px;
    font-weight: 100;
}
/* WELCOME SECTION */
#subscribe,
#courses,
#welcome {
    padding: 50px 0;
    /* text-align: center; */
}
.section-title {
    font-size: 2.2rem;
}
#welcome p {
    font-size: 15px;
    text-align: justify;
    color: #48565d;
}
/* COURSES SECTION */
#courses {
    background: #fafafa;
}
.post {
    background: #fff;
    border: 2px solid rgba(96, 125, 139, 0.82);
}
.post-img {
    position: relative;
    width: 100%;
    padding-top: 65%;
}
.post-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-body {
    padding: 10px;
}
.post-description {
    font-size: 14px;
    color: #48565d;
}
.post-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: black;
    display: block;
    text-align: center;
    font-weight: bold;
}
/* SUBSCRIBE SECTION */
#subscribe form {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}
.email {
    font-size: 1rem;
    padding: 13px;
    flex: 7;
    border: 1px solid black;
}
.subscribe {
    font-weight: bold;
    color: #fff;
    background-color: black;
    border: none;
    flex: 2;
    font-size: 1rem;
}
/* links section */
#links {
    background-color: black;
}
#links ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}
#links ul a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px;
}
/* footer section */
footer {
    background: black;
    padding: 10px;
    text-align: center;
    color: #fff;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

@media(max-width:840px){
    #nav-btn {
        display: block;
    }
    .nav-links {
        display: none;
    }
}